[Unit]
Description=Run commands after suspend/sleep
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart bluetooth
ExecStart=/home/rodrigo/.local/bin/power-profile-switch

[Install]
WantedBy=suspend.target

